.input-holder{
    position: relative;
}

.input-holder{
    input{
        position: relative;
        height: 100%;
        width: 100%;
        padding: 0 13px;
        border: none;
        outline-color: #1d3e5bec;
        outline-offset: 1px;
    }

    label{
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%); 
        
        color: rgb(82, 80, 80);
        background-color: white;
        z-index: 999;
        transition: 0.15s;
        pointer-events: none;
    }

    .show-password-btn{
        position: absolute;
        right: 0;
        top: 50%;
        padding: 10px;
        transform: translateY(-50%); 
        user-select: none;
        cursor: pointer;
        color: grey;
    }
    
    input:focus + label,
    input:not([value=""]) + label{ /* When input field is not empty */
        top: -2%; 
        font-size: 0.85em;
        padding: 0 3px;
    }
}


.input-holder + .text-underneath {
    text-align: start;
    position: relative;
    font-size: 0.85em;

    min-height: 18px; /* add min heigth for container of errors, just so when single error occurs it doens't exapnd whole form */
}

.auth_container form .bar{
    margin-top: 10px; /* adds deafult margin btw */
}

.errors{
    color: rgb(244, 51, 51);
}

.input-holder:has(+ .text-underneath .errors:not(:empty)){
    border-color: rgb(244, 51, 51);
    label{
        color: rgb(244, 51, 51);
    }
    input{
        outline-color: rgb(244, 51, 51);   
    }
}